
<div class="calculator-main">
  <div class="calculator-container">
    <div class="display">
      <div class="top-sub-display"><a>{{ equation }}</a></div>
      <div class="bottom-sub-display"><a>{{ currentInputValue }}</a></div>
    </div>

    <div class="button-group">
      <div class="button-conteiner" *ngFor="let button of buttonList">
        <button class="{{button.columnStyle}}" (click)="calculatorButtonClick($event)"
          value="{{button.value}}">{{ button.value }}</button>
      </div>
    </div>

  </div>
</div>